.aboutContainer{

    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: baseline;
    margin-top: 12rem;
    
    .aboutInfo{
        align-items: baseline;
        max-width: 50%;

        h1{
            color:#979191;
            font-size: 2rem;
            text-align: center;
            
        }


        p{
            font-style: italic;
            max-width: max-content;
           
        }

    }
   
    }

