@keyframes pulse {

    from{
        box-shadow: 0 0 0 0px 
        rgba(18, 18, 46, 0.6);
        background: rgba(226, 226, 231, 0.6);
    }
    to{
        box-shadow: 0 0 0 1000px rgba(36, 52, 141, 0);
        background: rgba(13, 14, 20, 0);
    }
}
@keyframes openTop{
    0% {
        transform: translateY(-5px)
        rotate(190deg);
    }
    50% {
        transform: translateY(0px)
        rotate(400deg);
    }
    100% {
        transform: translateY(0px)
        rotate(900deg);
    }
}

@keyframes openMid{
    
   
    
    50% {
        transform: translateY(0px)
        rotate(690deg);
    }
    
}

@keyframes openBtm{
    0% {
        transform: translateY(5px)
        rotate(140deg);
    }
    50% {
        transform: translateY(0px)
        rotate(290deg);
    }
    100% {
        transform: translateY(0px)
        rotate(900deg);
    }
}

